@page "/WatchVideo/{videoId}"
@model VideoWebapp.Pages.WatchVideoModel

<a href="/">GO BACK</a>

@if (Model.SelectedVideo != null)
{
    <div style="width:400px;">
        <video width="1200" poster="" controls>
            <source src="@Model.SelectedVideo.VideoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h3>@Model.SelectedVideo.VideoTitle</h3>
        <h5>@Model.SelectedVideo.VideoDescription</h5>
        @Model.SelectedVideo.ThumbnailPath

    </div>
}
else {
    <h6>Cant find the video</h6>
}




@*@if (Model.Videos != null && Model.Videos.Any())
{
    <div class="videos-container">
        @foreach (var video in Model.Videos)
        {
            <div class="video-item">
                <h3>@video.VideoTitle</h3>
                <h6>@video.VideoDescription</h6>
                <img src="@video.ThumbnailUrl" alt="Video Thumbnail" width="640" height="360">
                <video width="640" height="360" controls>
                    <source src="@video.VideoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

        }
    </div>
}
else
{
    <p>No videos available.</p>
}*@
